.bundle
db/*.sqlite3
tmp
target
.classpath
.settings
.project
*.swp
*~
node_modules
.DS_Store
tmp/
log/
*.swp
.swo
jferris-*.gemspec
*.scratch.*
*.aux
*.dvi
*.toc
*.log
*.pyc
*.class
.~lock*
bin
public/system
